$main-color: #ff4200;
$mainFf: 'Lato', sans-serif;
$secBold: 'Avenir Next Cyr Demi', sans-serif;

$container: 1200px;

@font-face {
  font-family: 'Avenir Next Cyr Demi';
  src: url('../fonts/AvenirNextCyr-Demi.eot');
  src: url('../fonts/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-Demi.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Demi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

*{
  box-sizing: border-box;
  margin: 0;
}

html{
  font-size: 14px;
}

html, body{
  overflow: initial;
}

main{
  overflow: hodden;
}

.container{
  max-width: $container;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media only screen and (max-width: 1024px){
    padding: 0 30px;
  }
}

.flex-container{
  display: flex;
}

a, button{
  transition: .3s ease-in;
  transition-property: color, background-color, opacity;
  svg{
    fill:currentColor;
  }
}
button, .btn{
  cursor: pointer;
}


.title-style{
  position: relative;
  font-family: $mainFf;
  font-size: 2.93rem;
  font-weight: 600;
  letter-spacing: 0.4em;
  color: #fff;
  text-transform: uppercase;

  &:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 400px;
    height: 4px;
    background-color: #ff4200;
  }

  @media only screen and (max-width: 575px){
    font-size: 2.2rem;
    margin-bottom: 140px;
    letter-spacing: 0.2em;

    &:after{
      width: 78%;
      bottom: -30px;
      height: 3px;
    }
  }

  @media only screen and (max-width: 360px){
    font-size: 2rem;
  }
}

.cover-text{
  position: absolute;
  font-family: $secBold;
  text-transform: uppercase;
  color: #fff;
  
  pointer-events: none;
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;

}

// header

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  @media only screen and (max-width: 768px){
    .header{
      max-height: 50px;
    }
  }
}

.open-nav {
  max-height: 400px !important;
  background-color: #35353582;
  .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
}

.sticky {
  background-color: #35353582;
  top: 0px;
}

.header__logo img{
  width: 50px;
}


.header__menu{
  overflow: hidden;

  li {
    display: inline-block;
    margin: 0 1rem;
    line-height: 1;
    transition: .3s;

    &:first-of-type{
      margin-left: 0;
    }

    &:last-of-type{
      margin-right: 0;
    }
  }
  a {
    font-family: $mainFf;
    color: #e0e0e0;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.5em;

    &:hover,
    &:active{
      color: #ad2d00;
    }

    &.active{
      color: #ad2d00;
    }
  }
}

.mobile-toggle{
  display: none;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 22px;
  top: 0;
  width: 33px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;

  span{
    width: 33px;
    height: 5px;
    margin-bottom: 4px;
    border-radius: 10px;
    background: #f3f3f3;
    display: block;
  }
}

@media only screen and (max-width: 1024px){
  .header{
    display: block;
    padding: 10px 30px;
    max-height: 50px;

    &__menu{
      padding-top: 10px;
      text-align: center;
      width: 100%;

      li{
        margin: 0;
        width: 100%;
        padding: 7px 0;

        a{
          color: #fff;
          &:hover{
            color: #e0e0e0;
          }
        }
      }
    }
  }

  .mobile-toggle {
    display: block;
    padding-top: 11px;
  }

  @media only screen and (max-width: 560px){
    .header{
      max-height: 45px;

      &__logo img{
        width: 45px;
      }
    }
  }
}

// hero

.hero{
  position: relative;
  display: flex;
  align-items: center;

  background-image: url(../img/bg-1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 48% 50%;
  height: 100vh;
  overflow: hidden;

  &__content{
    margin-left: 170px;
  }

  &__title{
    margin-bottom: 20px;
    font-family: $secBold;
    font-size: 5.14rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    line-height: 1em;
  }

  &__text{
    margin-bottom: 85px;
    font-family: $mainFf;
    font-size: 1.5rem;
    color: #b3b3b3;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-weight: 400;
  }

  &__link{
    position: relative;
    font-family: $secBold;
    font-size: 0.6666rem;
    color: #fff;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    &:before{
      content: '';
      position: absolute;
      top: -30px;

      width: 230px;
      height: 3px;
      background-color: $main-color;
      pointer-events: none;
      cursor: default;
    }

    &:after{
      position: absolute;
      top: 50%;
      right: -30px;
      transform: translateY(-50%);

      font-family: "Font Awesome 5 Free";
      content: "\f30b";
      font-weight: 700;
      font-size: 0.95rem;
      color: $main-color;
    }
  }

  &__social{
    position: fixed;
    z-index: 100;
    right: 3vw;
    bottom: 30%;

    display: flex;
    flex-direction: column;
    transform: translateY(-50%);

    &--link{
      margin: 12px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &:first-of-type{
        margin-top: 0;
      }

      &:last-of-type{
        margin-bottom: 0;
      }
    }

    svg{
      fill: #b3b3b3;
      transition: .4s;

      &:hover,
      &:active{
        transform: scale(1.3);
        transition: .4s;
      }
    }

    .icon-fb{
      width: 20px;
      height: 30px;
    }

    .icon-tw{
      width: 20px;
      height: 18px;
    }

    .icon-dr{
      width: 18px;
      height: 18px;
    }

    .icon-be{
      width: 30px;
      height: 21px;
    }
  }

  .cover-text{
    bottom: 0;
    left: 0;

    font-size: 20rem;
    opacity: 0.05;
    letter-spacing: 0.5em;
    line-height: 1em;
  }

  @media only screen and (max-width: 1024px){
    .hero__social{
      bottom: 0;
    }
  }

  @media only screen and (max-width: 768px){
    .hero{

      &__content{
        margin-left: 50px;
      }

      &__link{
        font-size: 1rem;
      }

      &__social{
        position: absolute;
        bottom: 2vh;
        flex-direction: row;

        &--link{
          margin: 0 12px;
        }
      }
    }
  }

  @media only screen and (max-width: 576px){
    .hero{

      &__content{
        margin-left: 25px;
      }

      &__title{
        font-size: 4rem;
      }

      &__text{
        margin-bottom: 65px;
        font-size: 1rem;
      }
    }
  }

  @media only screen and (max-width: 430px){
    .hero{
      &__content{
        margin-left: 0;
      }
      &__title{
        font-size: 3rem;
      }
    }
  }
}

// about

.about{
  padding: 10vh 0;
  position: relative;
  display: flex;
  overflow: hidden;

  .cover-text{
    color: #e6e6e6;
    opacity: .2;
  }

  .cover-text--top{
    top: 0;
    right: 0;

    font-size: 17.86rem;
    letter-spacing: 0.15em;
  }

  .cover-text--bottom{
    left: -5%;
    bottom: 0;

    font-size: 45rem;
    line-height: 0.9;
  }

  &__title{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 20;
    width: 100%;
    transform: translateY(-50%);

    font-family: $secBold;
    font-size: 5.14rem;
    color: #333333;
    opacity: .85;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-weight: 100;

    &--highlight{
      color: $main-color;
    }
  }

  &__block{
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .about__pictures{
    display: flex;
    justify-content: space-between;

    &--frame{
      position: relative;
      width: 450px;
      height: 350px;
      overflow: hidden;

      img{
        width: auto;
        height: 100%;
        transition: .5s;
      }

      &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;

        background-color: rgba(255, 255, 255, 0.4);
      }

      &:hover img{
        transition: .5s;
        transform: scale(1.4);
      }
    }

    &--bottom{
      margin-top: 5%;
    }
  }

  .about__text{
    margin-top: 70px;
    position: relative;
    align-self: center;
    width: 70%;

    font-family: $mainFf;
    font-size: 1rem;
    color: #999999;
    font-weight: 300;
    line-height: 1.8em;
    letter-spacing: 0.02em;

    &:before{
      content: '';
      position: absolute;
      top: -20%;
      width: 67%;
      height: 3px;

      background-color: #ededed;
    }
  }

  @media only screen and (max-width: 1024px){
    .about{
      &__pictures--frame{
        width: 44vw;
        height: 34vw;
      }

      &__text{
        width: 85%;
        align-self: initial;
      }
    }
  }

  @media only screen and (max-width: 575px){
    .about__pictures{
      flex-direction: column;

      &--frame{
        width: 51vw;
      }

      &--top{
        margin-bottom: 15px;
      }

      &--bottom{
        align-self: flex-end;
      }
    }

    .about__title{

      font-size: 4rem;
    }
  }

  @media only screen and (max-width: 497px){
    .about__title{
      font-size: 3rem;
    }
  }

  @media only screen and (max-width: 390px){
    .about__title{
      top: 40%;
      font-size: 2.5rem;
    }
  }
}

// services

.services{
  padding: 15vh 0 18vh;
  position: relative;
  display: flex;
  background: none;
  min-height: 100vh;

  &:before{
    content: '';
    width: 100%;
    top: 0;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, rgba(51,51,51,0.8) 0%, rgba(51,51,51,0.8) 100%);
    z-index: 1;
  }

  &-wrapper{
    position:relative;
    z-index: 5;
  }

  &__title{
    margin-bottom: 190px;
    position: relative;
  }

  &-bg{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &.active{
      display: block;
    }
  }

  [data-tab-index='0']{
    background-image: url(../img/isis-franca-hsPFuudRg5I-unsplash.jpg);
  }

  [data-tab-index='1']{
    background-image: url(../img/domenico-loia-hGV2TfOh0ns-unsplash.jpg);
  }

  [data-tab-index='2']{
    background-image: url(../img/photo-bg.jpg);
  }

  .cover-text{
    top: -9%;
    left: 7%;
    font-size: 17.85rem;
    line-height: .77em;
    letter-spacing: 0.5em;
    opacity: .05;
  }
  

  &__block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60%;
  }

  &__menu{
    display: flex;
    flex-direction: column;

    font-family: $mainFf;
    font-weight: 100;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    &--item{
      margin-bottom: 1.5em;
      opacity: .5;
      transition: .3s;

      &:last-of-type{
        margin-bottom: 0;
      }

      &.active{
        opacity: 1;
        transition: .3s;
        font-weight: 400;
      }
    }
  }

  &__desc{
    width: 50%;
    align-self: flex-end;

    &--block{
      display: none;
    }

    &--block.active{
      display: block;
      background: transparent;
    }

    &--title{
      margin-bottom: 0.72em;
      position: relative;
      z-index: 1;

      font-family: $secBold;
      color: #dedcdc;
      font-size: 1.5rem;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      &:before{
        position: absolute;
        top: -50px;

        font-family: $secBold;
        color: $main-color;
        font-size: 7.14rem;
        text-transform: uppercase;
        opacity: .2;
      }
    }

    .block-industrial{
      .services__desc--title:before{
        content: 'i';
        left: -15px;
      }
    }

    .block-web{
      .services__desc--title:before{
        content: 'w';
        left: -55px;
      }
    }

    .block-photography{
      .services__desc--title:before{
        content: 'p';
        left: -30px;
      }
    }

    &--text{
      position: relative;
      z-index: 1;

      font-family: $mainFf;
      font-size: 1rem;
      color: #999999;
      line-height: 1.8em;
      letter-spacing: 0.05em;
      text-align: justify;
      font-weight: 100;
    }
  }

  @media only screen and (max-width: 1024px){
    &-wrapper{
      height: 100%;
    }
  }

  @media only screen and (max-width: 768px){
    padding: 18vh 0 5vh;
  }

  @media only screen and (max-width: 690px){
    padding: 12vh 0 5vh;

    &__block{
      flex-direction: column;
      justify-content: initial;
    }

    &__title{
      margin-bottom: 90px;
    }

    &__menu{
      margin-bottom: 9vh;
      display: block;
      font-size: 1rem;

      &--item{
        margin-bottom: 10px;

        &:nth-child(2){
          margin-left: 10%;
          text-align: center;
        }

        &:last-of-type{
          text-align: right;
        }
      }
    }

    &__desc{
      width: 100%;

      &--text{
        font-size: 1.4rem;
        line-height: 1.4em;
      }
    }
  }

  @media only screen and (max-width: 575px){
    &__desc .block-web{
      .services__desc--title:before{
        left: -13px;
      }
    }
  }

  @media only screen and (max-width: 360px){
    &__menu--item{
      &:nth-child(2), &:last-of-type{
        text-align: left;
        margin-left: 0;
      }
    }
  }
}

// portfolio

.portfolio{
  padding: 15vh 0 10vh;
  position: relative;

  background: linear-gradient(to bottom, rgba(51,51,51,0.8) 0%,rgba(51,51,51,0.8) 100%), url(../img/portfolio-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .cover-text--top{
    top: -50px;
    right: 0;

    font-size: 53.57rem;
    opacity: .05;
  }

  &__title{
    margin-bottom: 140px;
  }

  &__slider{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  &__menu{
    display: flex;
    flex-direction: column;

    font-family: $mainFf;
    font-weight: 100;
    color: #fff;
    font-size: 1.14rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    & .slick-list.draggable{
      padding: 0;
    }

    &--item{
      margin-bottom: 2.5em;
      opacity: .5;
      cursor: pointer;

      &:last-of-type{
        margin-bottom: 0;
      }

      &.slick-current{
        opacity: 1;
      }
    }

    div.slick-track{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  &__images{
    width: 74.36%;
  }

  &__section{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .industrial__img,
    .web__img,
    .photo__img{
      width: 267px;
      height: 100%;
      margin: 0 5px;

      a:hover img{
        transform: scale(1.2);
      }

      img{
        width: 100%;
        height: auto;
      }
    }

    &--industrial{
      .industrial__img:nth-child(1){
        margin-bottom: 7%;
        align-self: flex-end;
      }

      .industrial__img:nth-child(3){
        align-self: center;
      }
    }

    &--web{
      .web__img:nth-child(1){
        margin-top: 5%;
      }

      .web__img:nth-child(2){
        margin-top: 20%;
      }

      .web__img:nth-child(3){
        margin-top: 13%;
      }
    }

    &--photography{
      .photo__img:nth-child(1){
        margin-top: 9%;
      }

      .photo__img:nth-child(2){
        margin-top: 4%;
      }

      .photo__img:nth-child(3){
        margin-top: 16%;
      }
    }
  }

  .cover-text--bottom{
    bottom: 8.7vh;
    left: -330px;

    font-size: 8.9rem;
    color: $main-color;
    opacity: .1;
    letter-spacing: 0.5em;
  }

  @media only screen and (max-width: 900px){
    &__slider{
      flex-direction: column-reverse;
    }

    &__title{
      margin-bottom: 90px;
    }

    &__menu{
      width: 100%;
      flex-direction: row;

      & div.slick-track{
        flex-direction: row;
        text-align: center;
      }
      
      .slick-prev, .slick-next{
        height: auto;
        width: auto;
      }

      .slick-prev{
        left: 0;
      }

      .slick-next{
        right: 0;
      }

      .slick-prev:before, .slick-next:before{
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
        font-size: 2.5rem;
        color: rgba(185, 185, 185, .3);
      }

      .slick-prev:before{
        content: '\f0d9';
      }

      .slick-next:before{
        content: '\f0da';
      }

      &--item{
        margin-bottom: 0;

        .slick-track{
          align-items: center;
        }
      }
    }

    &__section{
      align-items: center;

      &--industrial .industrial__img,
      &--web .web__img,
      &--photography .photo__img{
        &:nth-child(1), &:nth-child(2), &:nth-child(3){
          margin-top: 0;
          margin-bottom: 0;
          align-self: unset;
        }
      }
    }

    &__images{
      width: 100%;
      margin-bottom: 35px;
    }
  }

  @media only screen and (max-width: 575px){
    .slick-prev:before, .slick-next:before{
      font-size: 1.6rem;
    }
  }

  @media only screen and (min-width: 360px){
    padding-top: 10vh;
  }
}

// blog

.blog{
  position: relative;
  padding: 10vh 0;
  overflow: hidden;

  &__title{
    margin-bottom: 140px;
    color: #333333;
  }

  .cover-text{
    color: #a7a7a7;
  }

  .cover-text--top{
    top: 150px;
    right: -200px;

    font-size: 20rem;
    letter-spacing: 0.25em;
    opacity: .05;
  }

  &__slider{
    display: flex;
    justify-content: space-between;

    &--big{
      width: 65%;

      .slider__block{
        display: flex;
        align-items: center;
      }

      .slider__desc--title:before{
        content: '';
        position: absolute;
        top: 23%;
        left: -45%;

        width: 100px;
        height: 3px;
        background-color: $main-color;
      }
    }

    &--small{
      width: 30%;
      
      .slider__block{
        margin: 50px 0;
        padding-left: 30px;
        position: relative;
        opacity: .5;

        &:after{
          content: '';
          position: absolute;
          left: 30px;
          bottom: -50px;

          width: 100%;
          height: 2px;
          background-color: #999999;
          opacity: .4;
        }

        &.slick-current{
          opacity: 1;
        }
      }

      .slick-list{
        margin-top: 50%;
        transform: translateY(-50%);
      }
    }

    .slick-prev, .slick-next{
      height: auto;
      width: auto;
      left: 50%; 
    }

    .slick-prev{
      top: -15%;
      transform: rotate(90deg);
    }

    .slick-next{
      bottom: -15%;
      transform: rotate(-90deg);
    }

    .slick-prev:before, .slick-next:before{
      font-family: "Font Awesome 5 Free";
      font-weight: 700;
      font-size: 2rem;
      color: rgb(185, 185, 185);
      content: '\f053';
    }
  }

  .slider{

    &__pic{
      position: relative;
      margin-right: 70px;
      display: flex;
      justify-content: center;
      width: 52%;
      height: 400px;
      overflow: hidden;

      img{
        width: auto;
        height: 100%;
      }

      .hover-block{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #cacaca71;
        opacity: 0;
        transition: .3s;

        a{
          width: max-content;
          height: max-content;
          padding: 5px 15px;
          display: block;
          background-color: #ca3400a1;
          font-family: "Lato",sans-serif;
          font-size: 2rem;
          color: #fff;
          text-transform: uppercase;
          border-radius: 10px;
          font-weight: 100;
        }
      }

      &:hover .hover-block,
      &:active .hover-block,
      &:focus .hover-block{
        transition: .3s;
        opacity: 1;

        a:hover{
          background-color: #ca3400;
        }
      }
    }

    &__block:nth-child(3){
      .slider__pic{
        width: max-content;
      }
    }

    &__desc{
      width: 40%;

      &--title{
        position: relative;
        font-family: $mainFf;
        font-size: 1.93rem;
        color: #333333;
        font-weight: 400;
        letter-spacing: 0.03em;
        line-height: 1.4em;
        text-transform: uppercase;
      }

      &--link{
        font-family: $mainFf;
        font-size: 1rem;
        color: #999999;
        letter-spacing: 0.05em;

        a{
          position: relative;
          margin: 0 .5em;

          &:first-of-type{
            margin-left: 0;
          }

          &:last-of-type{
            margin-right: 0;
          }

          &:after{
            content: '/';
            position: absolute;
            right: -12px;
            top: -2px;
            font-size: 1.2em;
            opacity: .5;
          }

          &:last-of-type:after{
            display: none;
          }

          &:hover,
          &:active{
            color: #ab2c00;
          }
        }
      }
    }
  }

  .cover-text--bottom{
    bottom: -350px;
    right: 0;
    font-size: 60rem;
    line-height: .8em;
    opacity: 0.05;
  }

  @media only screen and (max-width: 1024px){
    &__slider{
      flex-direction: column;

      &--big{
        margin-bottom: 60px;
        width: 100%;

        .slider__desc--title:before{
          width: 7vw;
          left: -30%;
        }
      }

      &--small{
        width: 90%;
        margin: 0 auto;

        .slick-list{
          margin-top: 0;
          transform: none;
        }

        .slider__block{
          margin: 0 25px;
          padding: 15px;

          &:after{
            display: none;
          }

          &.slick-current{
            background-color: rgba(35, 9, 0, 0.03);
            border-radius: 5px;
          }
        }

        .slider__desc--title{
          font-size: 1.5rem;
        }

        .slick-prev, .slick-next{
          height: auto;
          width: auto;
        }

        .slick-prev{
          top: 25%;
          left: -50px;
          transform: none;
        }

        .slick-next{
          top: 25%;
          left: unset;
          bottom: unset;
          right: -50px;
          transform: rotate(180deg);
        }
      }
    }
  }

  @media only screen and (max-width: 768px){
    &__slider--big{
      .slider__pic{
        height: 350px;

        .hover-block a{
          font-size: 1.5rem;
        }
      }

      .slider__desc--title{
        font-size: 1.5rem;
        &:before{
          left: -35%;
        }
      }
    }

    &__slider--small{
      .slider__block{
        margin: 0 15px;
      }

      .slider__desc--title{
        font-size: 1.2rem;
      }
    }
  }

  @media only screen and (max-width: 650px){
    &__slider--big{
      .slider__desc--title:before{
        left: -45%;
      }
    }
  }

  @media only screen and (max-width: 575px){
    &__slider--big{
      .slider__pic{
        margin-right: 40px;
        height: 250px;

        .hover-block a{
          font-size: 1rem;
        }
      }

      .slider__desc--title:before{
        top: 40%;
      }
    }

    &__slider--small{
      .slider__desc--title{
        font-size: 1rem;
      }

      .slider__desc--link{
        font-size: .7rem;
      }
      .slick-prev{
        left: -40px;
      }

      .slick-next{
        right: -40px;
      }
    }
  }

  @media only screen and (max-width: 490px){
    &__slider--big{
      .slider__pic{
        width: 60%;
        height: 200px;
      }

      .slider__desc--link{
        font-size: 0.7rem;
      }
    }

    &__slider--small{
      .slider__block{
        margin: 0 10px;
      }

      .slider__desc--title{
        font-size: .8rem;
      }

      .slider__desc--link{
        font-size: 0.5rem;
      }
    }
  }

  @media only screen and (max-width: 360px){
    padding: 5vh 0;

    &__slider--big{
      .slider__pic{
        .hover-block a{
          font-size: .5rem;
        }
      }
    }
  }

  @media only screen and (max-width: 300px){
    &__slider--big{
      .slider__desc--title:before{
        left: -55%;
      }
    }
  }
}

// contact

.contact{
  position: relative;
  display: flex;

  &__block{
    padding: 13vh 0 13vh 13vw;
    width: 60%;

    background: linear-gradient(to bottom, rgba(51,51,51,0.8) 0%,rgba(51,51,51,0.8) 100%), 
    url(../img/contact-bg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
  }

  &__title{
    margin-bottom: 12vh;
  }

  &__map{
    position: relative;
    width: 40%;
    display: flex;
    justify-content: center;
  }

  &__section{
    margin-bottom: 35px;
    display: flex;
    align-items: flex-start;

    svg{
      margin-right: 30px;
      fill: #b3b3b3;
      width: 28px;
      height: 24px;
    }

    .contact__info{
      max-width: 150px;

      h5{
        margin-bottom: 1em;
        font-family: $secBold;
        color: #b3b3b3;
        font-size: 1.14rem;
        text-transform: uppercase;
        letter-spacing: 0.05em;
      }

      a, address{
        font-family: $mainFf;
        color: #999999;
        font-size: 1rem;
        letter-spacing: 0.02em;
      }

      address{
        line-height: 1.8;
      }
    }
  }

  #map{
    width: 100%;
    height: 100%;
  }

  & div.modal-wrapper {
    display: flex;
    position: absolute;
    width: 30%;
    height: auto;
    background: none;
    top: 50%;
    transform: translateY(-50%);
    margin-left: calc(100vw - 35%);

  }

  // &__form{
  //   padding: 25px;
  //   position: absolute;
  //   transform: translateY(-50%);
  //   display: flex;
  //   flex-direction: column;

  //   background-color: rgba(255, 254, 255, .9);
  //   border-radius: 10px;

  //   .top-line{
  //     margin-bottom: 30px;
  //     display: flex;
  //     justify-content: space-between; 

  //     .small-input{
  //       margin-bottom: 0;
  //       width: 50%;

  //       &:first-of-type{
  //         margin-right: 30px;
  //       }
  //     }
  //   }

  //   .ba-form-error{
  //     display: none;
  //   }

  //   &--input{
  //     border: 2px solid rgba(153, 153, 153, .2);
  //     padding: 17px 0 17px 18px;
  //     margin-bottom: 30px;
  //     box-shadow: none;

  //     &::-webkit-input-placeholder {
  //       font-family: $mainFf;
  //       font-size: 1rem;
  //       letter-spacing: 0.01em;
  //       color:#999999;
  //     }
  //     &::-moz-placeholder{
  //       font-family: $mainFf;
  //       font-size: 1rem;
  //       letter-spacing: 0.01em;
  //       color:#999999;
  //     }
  //     &:-moz-placeholder{
  //       font-family: $mainFf;
  //       font-size: 1rem;
  //       letter-spacing: 0.01em;
  //       color:#999999;
  //     }
  //     &:-ms-input-placeholder{
  //       font-family: $mainFf;
  //       font-size: 1rem;
  //       letter-spacing: 0.01em;
  //       color:#999999;
  //     }
  //   }

  //   textarea{
  //     height: 180px;
  //   }

  //   &--btn{
  //     padding: 20px 15px;
  //     background-color: $main-color;
  //     width: max-content;
  //     border: none;
  //     border-radius: 3px;
  //     box-shadow: none;
  //     font-family: $mainFf;
  //     font-size: 1rem;
  //     line-height: 1rem;
  //     text-transform: uppercase;
  //     letter-spacing: 0.05em;
  //     color: #fff;
  //   }
  // }

  .contact__form{
    padding: 25px;
    display: flex;
    flex-direction: column;
    height: max-content;

    background-color: rgba(255, 254, 255, .9);
    border-radius: 10px;
  }

  .form__row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;

    & .top-line.form__control{
      width: 48%;
    }

    .form__control{
      width: 100%;

      input{
        width: 100%;
      }
    }
  }

  .form--error{
    display: none;
    margin-top: 5px;
    width: 100%;
    padding: 8px;
    font-family: $mainFf;
    color: #2b1e1a;
    border-radius: 5px;
    background-color: #b730001c;
  }

  .form__input{
    border: 2px solid rgba(153, 153, 153, .2);
    padding: 17px 0 17px 18px;
    box-shadow: none;

    &::-webkit-input-placeholder {
      font-family: $mainFf;
      font-size: 1rem;
      letter-spacing: 0.01em;
      color:#999999;
    }
    &::-moz-placeholder{
      font-family: $mainFf;
      font-size: 1rem;
      letter-spacing: 0.01em;
      color:#999999;
    }
    &:-moz-placeholder{
      font-family: $mainFf;
      font-size: 1rem;
      letter-spacing: 0.01em;
      color:#999999;
    }
    &:-ms-input-placeholder{
      font-family: $mainFf;
      font-size: 1rem;
      letter-spacing: 0.01em;
      color:#999999;
    }
  }

  textarea{
    height: 180px;
    width: 100%;
  }

  .form__btn{
    padding: 20px 35px;
    background-color: $main-color;
    width: max-content;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    font-family: $mainFf;
    font-size: 1rem;
    line-height: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #fff;
  }

  .open-btn{
    display: none;
  }

  @media only screen and (max-width: 1024px){
    flex-direction: column-reverse;

    &__block, &__map{
      width: 100%;
    }

    &__map{
      height: 200px;
    }

    &__block{
      padding: 5vh 5vw;
    }

    & div.modal-wrapper{
      display: none;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0; 
      left: 0;
      z-index: 1;
      background: rgba(62, 54, 51, 0.53);
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      transform: none;
      margin: 0;
      align-items: center;
      justify-content: center;
    }


    &__form{
      width: 600px;
      height: 400px;
      margin: 0 20px;
      display: flex;
      position: absolute;
      transform: none;
    }

    .open-btn{
      position: absolute;
      right: 15vw;
      bottom: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 90px;
      color: #292929;
      text-transform: uppercase;
      font-family: $mainFf;
      font-weight: 400;
      font-size: .8rem;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 50%;
      animation: radial-pulse 1s infinite;
    }

    .animation-btn{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @keyframes radial-pulse{
      0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
      }

      100% {
        box-shadow: 0 0 0 40px rgba(28, 7, 0, .2);
      }
    }
  }


  @media only screen and (max-width: 768px){
    &__map{
      height: 150px;
    }
  }

  @media only screen and (max-width: 575px){
    &__section{
      margin-bottom: 25px;

      .contact__info{
        h5{
          margin-bottom: 5px;
        }

        a, address{
          font-size: .7rem;
        }
      }
    }
  }

  @media only screen and (max-width: 460px){
    .open-btn{
      bottom: 22vh;
      width: 50px;
      height: 50px;
      font-size: .45rem;
    }
  }
}

// footer

.footer{
  position: relative;

  .rights{
    position: absolute;
    top: -2em;
    font-family: $mainFf;
    font-size: 1rem;
    color: #999999;
    letter-spacing: 0.01em;
  }

  @media only screen and (max-width: 575px){
    .rights{
      font-size: .5rem;
    }
  }
}



